.root {
  color: var(--mantine-color-white);

  /* Background image */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--image-url);
  background-repeat: no-repeat;
  background-position: center center;

  /* Fallback background color */
  background-color: rgba(0, 0, 0, 0.65);
}

.pastdate {
  margin-top: var(--mantine-spacing-xs);
  color: var(--warning);
  font-size: var(--mantine-font-size-sm);
}
