
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header,
.row,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	margin-top: 30px;
}

.footer .footer-logo {
	max-height: 20px;
}

.footer .footer-note {
	margin-left: 5px;
}

.container .row .heading {
	text-align: center;
	margin-bottom: 20px;
}

.container .submit-button { 
	text-align: center;
}

.show .inner-show {
	padding: 10px 10px 10px 0px;
}

.show .inner-show .poster {
	padding-left: 10px;
	padding-right: 10px;
}

.show .inner-show .show-content {
	padding-left: 10px;
	padding-right: 10px;
}

.outstanding-episodes {
	padding-left: 30px;
	padding-right: 30px;
}

.outstanding-episodes .panel .panel-heading a {
	color: #333;
}

.movie .inner-movie {
	padding: 10px 10px 10px 0px;
	min-height: 150px;
}

.movie .inner-movie .poster {
	padding-left: 10px;
	padding-right: 10px;
}

.movie .inner-movie .movie-content {
	padding-left: 10px;
	padding-right: 10px;
}

#followModal .modal-body {
	overflow: hidden;
}

#follow_search_result {
	max-height: 500px;
	overflow-y: scroll;
}

#follow_search_result .search-result {
	min-height: 80px;
	cursor: pointer;
}

#follow_search_result .search-result .inner-search {
	cursor: pointer;
}

@media (min-width: 768px) {
	.container {
		max-width: 1000px;
	}
}

@media screen and (min-width: 768px) {
	.header,
	.row,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.glyphicon {
	transition: all 0.3s ease-in;
}

.flip {
	transform: scaleY(-1);
}