{% extends 'base.html' %}

{% macro gen_episode(e) -%}
	<div
		class="show col-xs-12 col-sm-6"
		data-episodeid="{{ e.id }}"
	>
		<div class="inner-show well col-xs-12">
			<img
				class="poster img-responsive col-xs-3"
				src="{{ e.poster }}"
				alt="Poster for {{ e.show_name }}"
			>
			<div class="show-content col-xs-9">
				<h5>{{ e.show_name }} <small>{{ e.airdate }}</small></h5>
				<h6>S{{ '%02d' | format(e.seasonnumber) }}E{{ '%02d' | format(e.episodenumber) }}</h6>
				<h6>{{ e.name }}</h6>
				<a class="btn btn-success btn-block watched_show">
					<span class="glyphicon glyphicon-ok"></span> Watched
				</a>
			</div>
		</div>
	</div>
{%- endmacro %}

{% block content %}
<div class="heading col-xs-12">
	<h4>
		TV Schedule
	</h4>
</div>

{% if outstanding %}
	<div class="outstanding-episodes col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#outstanding">
					<h4 class="panel-title">
						Outstanding
						<span class="direction pull-right glyphicon glyphicon-chevron-down"></span>
					</h4>
				</a>
			</div>
			<div id="outstanding" class="panel-collapse collapse">
				<div class="panel-body">
					{% for e in episodes if e.in_past %}
						{{ gen_episode(e) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% for d in dates %}
	<div class="date col-xs-12">
		<h4>{{ d }}</h4>
		{% for e in episodes if e.airdate == d %}
			{{ gen_episode(e) }}
		{% endfor %}
	</div>
{% endfor %}

{% endblock %}

{% block script %}
<script src="{{ static_file('js/schedule.js') }}"></script>
{% endblock %}