{% extends 'base.html' %}

{% block handlebars %}
{% raw -%}
<script id="search-result-template" type="text/x-handlebars-template">
	{{#each result}}
	<div class="search-result col-xs-12 col-sm-6" data-moviedb_id="{{id}}">
		<div class="inner-search well well-sm col-xs-12">
			<h5>
				{{name}}
				{{#if year}}({{year}}){{/if}}
				{{#if country}}({{country}}){{/if}}
			</h5>
		</div>
	</div>
	{{/each}}
</script>

<script id="show-template" type="text/x-handlebars-template">
	{{#each shows}}
	<div class="show col-xs-12 col-sm-6 col-md-4" data-tvshowid="{{id}}">
		<div class="inner-show well col-xs-12">
			<img class="poster img-responsive col-xs-5" src="{{poster}}" alt="Poster for {{name}}">
			<div class="show-content col-xs-7">
				<h5>{{name}}</h5>
				<a class="btn btn-danger btn-block remove_show">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</a>
				<a class="btn btn-success btn-block confirm_remove" style="display: none;">
					<span class="glyphicon glyphicon-ok"></span> Confirm
				</a>
				<a class="btn btn-primary btn-block" href="{{update_url}}">
					<span class="glyphicon glyphicon-refresh"></span> Refresh
				</a>
			</div>
		</div>
	</div>
	{{/each}}
</script>
{%- endraw %}
{% endblock %}

{% block content %}
<div class="heading col-xs-12">
	<h4>
		TV Shows <span id="followed"></span>
		<button
			type="button"
			class="btn btn-primary pull-right"
			data-toggle="modal"
			data-target="#followModal"
		>
			<span class="glyphicon glyphicon-plus"></span> Add New Show
		</button>
	</h4>
</div>

<div id="content"></div>

<div id="followModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content col-xs-12">
			<div class="modal-header col-xs-12">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New Show</h4>
			</div>
			<div class="modal-body col-xs-12">
				<div id="modal_flash_div"></div>
				<div class="form-group">
					<div class="input-group col-xs-12">
						<input type="text" class="form-control" id="follow_search">
						<a class="btn btn-primary input-group-addon" id="follow_search_submit">Search</a>
					</div>
				</div>

				<div id="follow_search_result" class="hidden"></div>
			</div>
			<div class="modal-footer col-xs-12">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="{{ static_file('js/shows.js') }}"></script>
{% endblock %}